<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %> 
    <script src="/static/scripts/register.js"></script>
    <title>Register</title>
</head>
<body>
    
    <div class="col-lg-7 mx-auto text-center">
        <h1>Register</h1>
        <form class="col-md-7 px-1 mx-auto">
            <div class="form-floating my-2">
                <input class="form-control" type="text" placeholder="Username" name="username" id="username">
                <label for="test">Username</label>
            </div>
            <div class="form-floating my-2">
                <input class="form-control" type="password" placeholder="Password" name="password" id="password">
                <label for="test">Password</label>
            </div>
            <div>
                <a class="btn btn-primary" href="#" onclick="registerUser()">
                    Register
                    <div style="display: none;" class="spinner-border spinner-border-sm" id="loginSpinner"></div>
                </button>
                <a class="btn btn-secondary" href="/">Cancel</a>
            </div>
        </form>
    </div>

    <div style="display: none;" class="alert alert-danger col-md-7 px-1 mx-auto mt-4" id="alertBox">
        Password incorrect
    </div>

</body>
</html>